.container {
    font-family: Poppins;
    color: white;
    background-color: #5e548e;
    margin: auto;
    max-width: 900px;
}

body {
    background-image: url('https://nekoweb.org/static/assets/nekopattern.png');
}

hr {
    color: white;
}

.flexbox {
    max-width: 800px;
    margin: auto;
}

.projects ul {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 0rem;
}

/* the spacing on these isn't quite what i want */
.projects img {
    display: block;
    width: 140px;
    height: auto;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0px 4px 10px rgb(23, 0, 40);
}

.projects figcaption {
    text-align: center;
}

header h1 {
    text-align: center;
    color: white;
    font-size: 80px;
    min-height: 200px;
    max-width: 1500px;
    margin: auto;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

.projects {
    display: flex;
    align-items: center;
}

.projects li {
    display: inline;
    padding: 20px;
}

.color-change {
    color: #ffbb00;
}

a {
    color: rgb(194, 250, 250);
}

footer p {
    text-align: center;
    padding: 25px;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    font-size: 30px;
    margin-right: 30px;
}

header {
    text-align: center;
}

header a {
    text-decoration: none;
    font-weight: 500;
}